<div>
    <div class="overlay-box">
        <mat-card class="mat-elevation-z10" style="background:rgba(155, 168, 209, 0.747); width:280px; margin:auto;">
            <h1 style="font-size:5em; font-weight: 500; color: white; text-transform: uppercase; margin:0px;">Mark
                Burtson</h1>
            <h3 style="font-size:2.25em; font-weight: 500; color:white; margin:0px;">Software Engineer | Entrepreneur
            </h3>
            <a mat-raised-button color="accent" style="margin:15px" href="/assets/docs/resume.pdf"
                download="Mark_Burtson_Resume.pdf">
                <mat-icon>description</mat-icon>
                Download Resume
            </a>

        </mat-card>
    </div>

    <div class="container-box">
        <div class="tinted-overlay-box">
            <!-- <img height= 100% width="100%"src="./assets/images/lead-bg.jpg"> -->

        </div>
    </div>