:host{
    margin-top:15px;
}
.container-box{
    z-index:1;
    width: 100%;
    min-height: 400px;
    max-height: 1080px;
    background-size:cover;
    align-content: center;
    background-color:primary;
    background:url(/assets/images/lead-bg.jpg);
}

.overlay-box{
    position: absolute;
    z-index: 7;
    font-size:8px;
    width: 100%;
    height:60%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.tinted-overlay-box{

    display:block;
    
    width: 100%;
    height:50vh;
    min-height: 400px;
    max-height: 1080px;
    background:rgba(84, 100, 247, 0.76);
}

.h1{
    padding:0px;
}
