<mat-toolbar class="mat-elevation-z8" color="primary">
    <mat-toolbar-row class="mat-toolbar-row">
        <span>
            <mat-icon style="padding:5px" aria-hidden="false" aria-label="Example home icon">code</mat-icon>
            Portfolio
        </span>
        <span></span>
        <button mat-icon-button [mat-menu-trigger-for]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-menu x-position="before" #menu="matMenu">
    <!-- <button (click)="openResume()" mat-menu-item>Resume</button> -->
    <a href="/assets/docs/resume.pdf" download="Mark_Burtson_Resume.pdf" mat-menu-item>Download Resume</a>
    <button (click)="goToBottom()" mat-menu-item>Contact Me</button>
</mat-menu>