<mat-toolbar class="mat-elevation-z8" color="primary">
    <mat-toolbar-row class="mat-toolbar-row">
        <span>
            <mat-icon style="padding:5px" aria-hidden="false" aria-label="Example home icon">code</mat-icon>
            Portfolio
        </span>
        <span></span>
        <button mat-icon-button [mat-menu-trigger-for]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Resume</button>
    <button mat-menu-item>Experience</button>
</mat-menu>