<div class="skill-wrapper">
  <h1>Skills</h1>
  <mat-chip-list>
        <mat-chip color="accent" selected>Agile</mat-chip>
    <mat-chip color="accent" selected>Angular</mat-chip>
    <mat-chip color="accent" selected>C#</mat-chip>
    <mat-chip color="accent" selected>Typescript</mat-chip>
    <mat-chip color="accent" selected>SDLC</mat-chip>
    <mat-chip color="accent" selected>HTML 5</mat-chip>
    <mat-chip color="accent" selected>Typescript</mat-chip>
    <mat-chip color="accent" selected>CSS</mat-chip>
    <mat-chip color="accent" selected>IIS</mat-chip>
    <mat-chip color="accent" selected>SQL Server</mat-chip>
    <mat-chip color="accent" selected>MS Test</mat-chip>
    <mat-chip color="accent" selected>X Unit</mat-chip>
    <mat-chip color="accent" selected>Node</mat-chip>
    <mat-chip color="accent" selected>.NET Core MVC</mat-chip>
    <mat-chip color="accent" selected>Azure Devops</mat-chip>
    <mat-chip color="accent" selected>Git</mat-chip>
    <mat-chip color="accent" selected>SOLID Principles</mat-chip>
    <mat-chip color="accent" selected>Office 365</mat-chip>
    <mat-chip color="accent" selected>UML</mat-chip>
    <mat-chip color="accent" selected>I.T. Troubleshooting</mat-chip>
    <mat-chip color="accent" selected>Adobe Photoshop CC</mat-chip>
    <mat-chip color="accent" selected>Active Directory</mat-chip>
    <mat-chip color="accent" selected>Windows Server 2016</mat-chip>
    <mat-chip color="accent" selected>Customer Service</mat-chip>
    <mat-chip color="accent" selected>Active Directory</mat-chip>
    
  </mat-chip-list>
</div>
