<app-navbar></app-navbar>

<div>
  <app-header></app-header>
</div>
<mat-divider></mat-divider>

<!-- Mobile Title Section -->
<div
  *ngIf="isMobile"
  class="mobile-homepage-row"
  style="padding-top:20px; padding-left:20px; padding-right:20px; padding-bottom:75px;"
>
  <img style="width:200px" src="/assets/images/markb.png" />
  <h1>About Me</h1>
  <p>{{ bioText }}</p>
</div>
<!-- End Mobile Title Section -->

<!-- Desktop Title Section -->
<div *ngIf="isNotMobile" class="homepage-row">
  <div class="homepage-row-image">
    <h1>About Me</h1>
    <img class="profile-image" src="/assets/images/markb.png" />
  </div>
  <div *ngIf="isNotMobile" class="homepage-row-bio">
    <p style="width:80%">
      {{ bioText }}
    </p>
  </div>
</div>
<!-- End Desktop Title Section -->

<!-- Desktop Experience Section -->
<div class="experience-wrapper">
  <h1 style="text-align: center">Experience</h1>
  <mgl-timeline>
    <mgl-timeline-entry>
      <mgl-timeline-entry-header>Truemarks LLC</mgl-timeline-entry-header>
      <mgl-timeline-entry-content (expand)="(expanded)">
        <h4>Owner</h4>
        <p>May 2018 - Present</p>
        {{ truemarksText }}
      </mgl-timeline-entry-content>
      <mgl-timeline-entry-dot
        [class]="color ? 'primary' : 'accent'"
        [size]="size"></mgl-timeline-entry-dot>
      <mgl-timeline-entry-side>May 2018 - Present</mgl-timeline-entry-side>
    </mgl-timeline-entry>

    <mgl-timeline-entry>
      <mgl-timeline-entry-header
        >Kansas City Police Crime Lab
      </mgl-timeline-entry-header>
      <mgl-timeline-entry-content>
        <h4>Forensic Specialist III (Digital Evidence)</h4>
        <p>Dec 2017 - Present</p>
        {{ kcpdText }}
      </mgl-timeline-entry-content>
      <mgl-timeline-entry-dot
      [class]="color ? 'primary' : 'accent'"
      [size]="size"></mgl-timeline-entry-dot>
      <mgl-timeline-entry-side>2018 - Present</mgl-timeline-entry-side>
    </mgl-timeline-entry>

    <mgl-timeline-entry>
      <mgl-timeline-entry-header>MC Flooring LLC </mgl-timeline-entry-header>
      <mgl-timeline-entry-content>
        <h4>Contractor</h4>
        <p>Jan 2008 - December 2017</p>
        {{ mcText }}
      </mgl-timeline-entry-content>
      <mgl-timeline-entry-dot
      [class]="color ? 'primary' : 'accent'"
      [size]="size"></mgl-timeline-entry-dot>
      <mgl-timeline-entry-side>2018 - Present</mgl-timeline-entry-side>
    </mgl-timeline-entry>
  </mgl-timeline>
</div>

<!-- Mobile Education Section -->
<div *ngIf="isMobile" class="mobile-education-wrapper">
  <h1 style="text-align: center">Education</h1>
  <div *ngIf="isMobile" class="homepage-row">
    <div class="filler"></div>

    <mat-card class="mat-elevation-z10">
      <h2>DeVry University</h2>
      <p>2008-2017 (Half-Time)</p>
      <h4>Bachelor of Science Computer Information Systems</h4>
      <p>Magna Cum Laude 3.88</p>
    </mat-card>
    <div class="filler"></div>
  </div>
</div>
<!-- End Mobile Education Section -->
<!-- Desktop Education Section -->
<div *ngIf="isNotMobile" class="desktop-education-wrapper">
  <h1 style="text-align: center">Education</h1>
  <div class="homepage-row">
    <div class="ed-filler"></div>
    <div class="ed-filler"></div>
    <mat-card style="width:20%" class="mat-elevation-z10">
      <h2>DeVry University</h2>
      <p>2008-2017 (Half-Time)</p>
      <h4>Bachelor of Science Computer Information Systems</h4>
      <p>Magna Cum Laude 3.88</p>
    </mat-card>
    <div class="ed-filler"></div>
    <div class="ed-filler"></div>
  </div>
</div>
<!-- Desktop Education Section -->
<!-- Desktop Skills Section -->
<div
  *ngIf="isNotMobile"
  class="homepage-row"
  style="background:rgb(209, 209, 209);"
>
  <div class="filler"></div>
  <div class="homepage-row-skills">
    <app-skills></app-skills>
  </div>
  <div class="filler"></div>
</div>
<!-- End Desktop Skills Section -->

<!-- Mobile Skills Section -->
<div
  *ngIf="isMobile"
  class="homepage-row"
  style="background:rgb(209, 209, 209);"
>
  <div class="homepage-row-skills-mobile">
    <app-skills></app-skills>
  </div>
</div>
<!-- Mobile Skills Section -->

<app-footer></app-footer>
<router-outlet></router-outlet>
