<!-- Author: Mark Andrew Burtson 
This is my Angular Portfolio and this is an honest representation of my skills this is one 
of my first ng 2+ apps feel free to use and/or modify my app for your own use per MIT-Style License. -->

<app-navbar></app-navbar>
<div>
  <app-header></app-header>
</div>
<mat-divider></mat-divider>
<!-- Mobile Title Section -->
<div
  *ngIf="isMobile"
  class="mobile-homepage-row"
  style="padding-top:20px; padding-left:20px; padding-right:20px; padding-bottom:75px; background:rgb(231, 231, 231);"
>
  <img style="width:200px" src="/assets/images/markb.png" />
  <h1>About Me</h1>
  <p>{{ bioText }}</p>
</div>
<!-- End Mobile Title Section -->

<!-- Desktop Title Section -->
<div
  *ngIf="isNotMobile"
  class="homepage-row"
  style="background:rgb(231, 231, 231);"
>
  <div class="homepage-row-image">
    <h1>About Me</h1>
    <img class="profile-image" src="/assets/images/markb.png" />
  </div>
  <div *ngIf="isNotMobile" class="homepage-row-bio">
    <p style="width:80%">
      {{ bioText }}
    </p>
  </div>
</div>
<!-- End Desktop Title Section -->

<!-- Desktop Experience Section -->
<div class="experience-wrapper">
  <h1 style="text-align: center">Experience</h1>
  <mgl-timeline>
    <mgl-timeline-entry>
      <mgl-timeline-entry-header>Truemarks LLC</mgl-timeline-entry-header>
      <mgl-timeline-entry-content (expand)="(expanded)">
        <h4>Owner</h4>
        <p>May 2018 - Present</p>
        {{ truemarksText }}
      </mgl-timeline-entry-content>
      <mgl-timeline-entry-dot
        [class]="color ? 'primary' : 'accent'"
        [size]="size"
      ></mgl-timeline-entry-dot>
      <mgl-timeline-entry-side>May 2018 - Present</mgl-timeline-entry-side>
    </mgl-timeline-entry>

    <mgl-timeline-entry>
      <mgl-timeline-entry-header
        >Kansas City Police Crime Lab
      </mgl-timeline-entry-header>
      <mgl-timeline-entry-content>
        <h4>Forensic Specialist III (Digital Evidence)</h4>
        <p>Dec 2017 - Present</p>
        {{ kcpdText }}
      </mgl-timeline-entry-content>
      <mgl-timeline-entry-dot
        [class]="color ? 'primary' : 'accent'"
        [size]="size"
      ></mgl-timeline-entry-dot>
      <mgl-timeline-entry-side>2018 - Present</mgl-timeline-entry-side>
    </mgl-timeline-entry>

    <mgl-timeline-entry>
      <mgl-timeline-entry-header>MC Flooring LLC </mgl-timeline-entry-header>
      <mgl-timeline-entry-content>
        <h4>Contractor</h4>
        <p>Jan 2008 - December 2017</p>
        {{ mcText }}
      </mgl-timeline-entry-content>
      <mgl-timeline-entry-dot
        [class]="color ? 'primary' : 'accent'"
        [size]="size"
      ></mgl-timeline-entry-dot>
      <mgl-timeline-entry-side>2018 - Present</mgl-timeline-entry-side>
    </mgl-timeline-entry>
  </mgl-timeline>
</div>
<!-- End Desktop Experience Section -->

<!-- Mobile Education Section -->
<div
  *ngIf="isMobile"
  class="mobile-education-wrapper"
  style="background:rgb(231, 231, 231); padding-top:20px;"
>
  <h1 style="text-align: center">Education</h1>
  <div *ngIf="isMobile" class="homepage-row">
    <div class="filler"></div>

    <mat-card class="mat-elevation-z10">
      <h2>DeVry University</h2>
      <div><img width="100%" src="/assets/images/devry.png" /></div>
      <p>2008-2017 (Half-Time)</p>
      <h4>Bachelor of Science Computer Information Systems</h4>
      <p>Magna Cum Laude 3.88</p>
    </mat-card>
    <div class="filler"></div>
  </div>
</div>
<!-- End Mobile Education Section -->
<!-- Desktop Education Section -->
<div
  *ngIf="isNotMobile"
  class="desktop-education-wrapper"
  style="background:rgb(231, 231, 231); padding-top:20px;"
>
  <h1 style="text-align: center">Education</h1>
  <div class="homepage-row">
    <div class="ed-filler"></div>
    <div class="ed-filler"></div>
    <mat-card style="width:20%" class="mat-elevation-z10">
      <h2>DeVry University</h2>
      <div><img width="50%" src="/assets/images/devry.png" /></div>
      <p>2008-2017 (Half-Time)</p>
      <h4>Bachelor of Science Computer Information Systems</h4>
      <p>Magna Cum Laude 3.88</p>
    </mat-card>
    <div class="ed-filler"></div>
    <div class="ed-filler"></div>
  </div>
</div>
<!-- Desktop Education Section -->

<!-- Desktop Projects Section -->
<h1 *ngIf="isNotMobile" style="text-align:center">Projects</h1>
<div
  *ngIf="isNotMobile"
  class="homepage-row"
  style="text-align: center; padding-left:50px; padding-right:50px;"
>
  <div class="proj-filler"></div>
  <mat-card style="width:50%; min-width:750px;" class="mat-elevation-z10">
    <div fxLayout="row" fxLayoutGap="20">
      <div fxFlex="33%"><img width="100%" src="/assets/images/LL.jpg" /></div>
      <div fxFlex="66%" style="padding-left:50px">
        <div style="width:100%">
          <h2 style="padding-top:5px">Lablok</h2>
          <p>{{ llText }}</p>
          <a h3 href="https://www.truemarks.org/Software">View Project</a>
        </div>
      </div>
      <div class="proj-filler"></div>
    </div>
  </mat-card>
</div>
<div
  *ngIf="isNotMobile"
  class="homepage-row"
  style="text-align: center; padding-left:50px; padding-right:50px;"
>
  <div class="proj-filler"></div>
  <mat-card style="width:50%; min-width:750px;" class="mat-elevation-z10">
    <div fxLayout="row" fxLayoutGap="20">
      <div fxFlex="33%">
        <img width="100%" src="/assets/images/DVRREC.jpg" />
      </div>
      <div fxFlex="66%" style="padding-left:50px">
        <h2 style="padding-top:5px;">DVR RECords</h2>
        <p>{{ dvrText }}</p>
        <a h3 href="https://www.truemarks.org">View Project</a>
      </div>
      <div class="proj-filler"></div>
    </div>
  </mat-card>
</div>
<!-- End Desktop Projects Section -->

<!-- Mobile Projects Section -->
<h1 *ngIf="isMobile" style="text-align:center">Projects</h1>
<div
  *ngIf="isMobile"
  class="homepage-row"
  style="text-align: center; padding-left:20px; padding-right:20px;"
>
  <mat-card style="width:100%;" class="mat-elevation-z10">
    <div fxLayout="row" fxLayoutGap="20">
      <div fxFlex="100%" style="padding-left:20px">
        <div style="width:100%">
          <h2 style="padding-top:5px">Lablok</h2>
          <p>{{ llText }}</p>
          <a h3 href="https://www.truemarks.org/Software">View Project</a>
        </div>
      </div>
    </div>
  </mat-card>
</div>
<div
  *ngIf="isMobile"
  class="homepage-row"
  style="text-align: center; padding-left:20px; padding-right:20px;"
>
  <mat-card style="width:100%;" class="mat-elevation-z10">
    <div fxLayout="row" fxLayoutGap="20">
      <div fxFlex="100%" style="padding-left:20px">
        <h2 style="padding-top:5px;">DVR RECords</h2>
        <p>{{ dvrText }}</p>
        <a h3 href="https://www.truemarks.org">View Project</a>
      </div>
    </div>
  </mat-card>
</div>
<!-- End Mobile Projects Section -->

<!-- Desktop Skills Section -->
<div
  *ngIf="isNotMobile"
  class="homepage-row"
  style="background:rgb(231, 231, 231);"
>
  <div class="filler"></div>
  <div class="homepage-row-skills">
    <app-skills></app-skills>
  </div>
  <div class="filler"></div>
</div>
<!-- End Desktop Skills Section -->

<!-- Mobile Skills Section -->
<div
  *ngIf="isMobile"
  class="homepage-row"
  style="background:rgb(231, 231, 231);"
>
  <div class="homepage-row-skills-mobile">
    <app-skills></app-skills>
  </div>
</div>
<!-- Mobile Skills Section -->

<!-- Contact Section -->
<div class="contact-wrapper" style="background:white; text-align: center;">
  <div class="contact" style="text-align: center">
    <h1 style="text-align: center;">Contact Me</h1>
  </div>

  <div *ngIf="isNotMobile" class="form-container">
    <mat-form-field style="width:33%; margin:auto;">
      <input
        matInput
        placeholder="Your email"
        (input)="onEmailChanges($event.target.value)"
        [formControl]="myEmail"
        [(ngModel)]="email"
        pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
        required 
      />
      <mat-error *ngIf="myEmail.hasError('pattern')">
        Enter a vaild email address
      </mat-error>
    </mat-form-field>

    <mat-form-field style="width:33%; margin:auto;">
      <textarea
        matInput
        placeholder="Your message"
        [(ngModel)]="message"
      ></textarea>
    </mat-form-field>

    <button
      mat-raised-button
      [disabled]="buttonIsDisabled"
      (click)="submitForm()"
      style="width:33%; margin:auto;"
      color="accent"
    >
      Send
    </button>
  </div>

  <div *ngIf="isMobile" class="form-container">
    <mat-form-field style="width:100%; margin:auto;">
      <input
        matInput
        [(ngModel)]="email"
        placeholder="Your email"
        (input)="onEmailChanges($event.target.value)"
        [formControl]="myEmail"
        [(ngModel)]="email"
        pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
        required
      />
    </mat-form-field>

    <mat-form-field style="width:100%; margin:auto;">
      <textarea
        matInput
        [(ngModel)]="message"
        placeholder="Your message"
      ></textarea>
    </mat-form-field>

    <div style="width:75%"></div>
    <button
      (click)="submitForm()"
      [disabled]="buttonIsDisabled"
      mat-raised-button
      style="width:100%;"
      color="accent"
    >
      Send
    </button>
  </div>

  <!-- End Contact Section -->
  <div class="homepage-row" style="padding-bottom:0px;">
    <div
      class="subfooter-wrapper"
      style="background:rgb(231, 231, 231); width:100%; padding-top:18px;"
    ><h3>Powered By</h3><img width="20%" src="/assets/images/angular.svg"/>
    <div class="homepage-row"></div>
    </div>
    
  </div>

  <app-footer></app-footer>
  <router-outlet></router-outlet>
</div>
