@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');





:host{
    margin:0px;
    font-family: 'Roboto';
}

body,html{
    font-family: 'Roboto';
}